<div class="stamp">
  <div class="stamp-inner">
    <!-- Redeem QR Code -->
    <img class="qr-code" src="{{ QRCODE wif /bch.svg }}" />

    <!-- Title -->
    <div class="title-primary">

      <div class="currency">
        <span class="primary">{{ value }}</span>
        <span class="secondary">{{ currency }}</span>
      </div>
    </div>

    <!-- Expiry -->
    <div class="title-secondary">
      <div class="content text-muted text-bold">
        Valid until {{ expiry }}
      </div>
    </div>
  </div>
</div>

<style>
:root {
  font-family: Arial, Helvetica, sans-serif;
  
  /* 
    Set your paper size here
  
    Default: A4
      A4 Paper is 210mm x 297mm
      A3 Paper is 297mm x 420mm
  */
  /* page and stamp sizes in mm */
  --paper-height: 297;
  --paper-width: 210;

  --stamp-height: 50.8;
  --stamp-width: 50.8;
  
  /* Stamp decoration */
  --padding-size: 5mm;
  --border-size: 1px;


  /* Computed size helpers in mm */
  --paper-height-mm: calc(1mm * var(--paper-height));
  --paper-width-mm: calc(1mm * var(--paper-width));

  --stamp-height-mm: calc(1mm * var(--stamp-height));
  --stamp-width-mm: calc(1mm * var(--stamp-width));

  /* Get decimal value of division */
  --calculated-y-quantity-per-page-raw: calc(var(--paper-height) / var(--stamp-height));
  --calculated-x-quantity-per-page-raw: calc(var(--paper-width) / var(--stamp-width));

  /* Rond down decimal value */
  --calculated-y-quantity-per-page: round(down, var(--calculated-y-quantity-per-page-raw), 1);
  --calculated-x-quantity-per-page: round(down, var(--calculated-x-quantity-per-page-raw), 1);

  /* --calculated-y-white-space: calc(var(--paper-height) - (var(--stamp-height) * var(--calculated-y-quantity-per-page))); */
  
  /* Set sizes to "fill" page. inner stamp will be correct stamp size */
  --calculated-stamp-height-inc-whitespace: calc(var(--paper-height-mm) / var(--calculated-y-quantity-per-page));
  --calculated-y-white-space: calc(calc(var(--calculated-stamp-height-inc-whitespace) - var(--stamp-height-mm)) / (var(--calculated-x-quantity-per-page) + 1));
  --calculated-stamp-height: calc(var(--calculated-stamp-height-inc-whitespace) - (var(--calculated-y-white-space)));

  /* Stamp container width */
  --calculated-stamp-width: calc(var(--paper-width-mm) / var(--calculated-x-quantity-per-page));

  /* @page {
    margin-top: 80mm;
  } */
}


.page {
  align-items: flex-start;
  justify-content: flex-start;
}

.stamp {
  /* Stamp size */
  
  width: var(--calculated-stamp-width);
  height: var(--calculated-stamp-height);

  padding-top: var(--calculated-y-white-space);
  
  break-inside: avoid;
  
  display: grid;
  align-items: end;
  justify-content: center;
}


.stamp-inner {
  height: var(--stamp-height-mm);
  width: var(--stamp-width-mm);

  padding: var(--padding-size);
  border: var(--border-size) dashed #46ba4f;

  margin-top: var(--margin-size);
  margin-left: var(--margin-size);

  text-align: center;
}

.title-primary {
  font-size: 32px;
  font-weight: bold;
}

.primary {
  color: #46ba4f;
}

.secondary {
  color: #46ba4f;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: #686868;
}

.qr-code {
  width: 35mm !important;
  height: 35mm !important;
}
</style>