<!--
@config
{
  "name": "3 Step - Horizontal",
  "variables": {
    "step1Text": {
      "name": "Step 1 Text",
      "default": "Scan the above QR code to Install a Bitcoin Cash Wallet.",
      "class": "col-12"
    },
    "step2Text": {
      "name": "Step 2 Text",
      "default": "Use your Wallet to scan the above QR Code to receive free BCH!",
      "class": "col-12"
    },
    "step3Text": {
      "name": "Step 3 Text",
      "default": "Scan the above QR Code above to find places near you to spend BCH!",
      "class": "col-12"
    },
    "walletLink": {
      "name": "Wallet Link",
      "default": "https://wallet.bitcoin.com/"
    },
    "spendLink": {
      "name": "Spend Link",
      "default": "https://maps.bitcoin.com/"
    }
  }
}
@endconfig
-->

<div class="flyer">
  <!-- Step 1 - Download Wallet -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Bitcoin</span><span class="secondary">Cash</span>
    </div>

    <!-- Download Wallet QR Code -->
    <img class="qr-code" src="{{ QRCODE walletLink }}" />

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 1</div>
      <div class="content">{{ step1Text }}</div>
    </div>
  </div>

  <!-- Step 2 - Redeem Stamp -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Redeem</span>
      <span class="secondary">${{ value }}</span>
    </div>

    <!-- Redeem QR Code -->
    <img class="qr-code" src="{{ QRCODE wif /bch.svg }}" />

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 2</div>
      <div class="content">{{ step2Text }}</div>
    </div>
  </div>

  <!-- Step 3 - Spend BCH -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Spend</span>
      <span class="secondary">It!</span>
    </div>

    <!-- Spend QR Code -->
    <img class="qr-code" src="{{ QRCODE spendLink }}" />

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 3</div>
      <div class="content">{{ step3Text }}</div>
    </div>
  </div>
</div>

<style>
  .page {
    background: #000;
  }

  .flyer {
    display: flex;
    width: 210mm;
    background: #000;
    color: #fff;
    border-bottom: 1px dashed #82d853;
  }

  .section {
    width: 33%;
    text-align: center;
    padding: 5mm;
  }

  .primary {
    color: #fff;
  }

  .secondary {
    color: #82d853;
  }

  .title-primary {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5mm;
  }

  .title-secondary {
    font-size: 24px;
    font-weight: bold;
  }

  .qr-code {
    width: 35mm !important;
    height: 35mm !important;
    margin-bottom: 5mm;
  }

  .details .title {
    font-size: 24px;
    font-weight: bold;
  }

  .details .content {
    font-size: 12px;
  }
</style>
