<div class="flyer">
  <!-- Step 1 - Download Wallet -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Bitcoin</span><span class="secondary">Cash</span>
    </div>

    <!-- Download Wallet QR Code -->
    {{ QRCODE https://wallet.bitcoin.com }}

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 1</div>
      <div class="content">
        Scan the above QR code to Install a Bitcoin Cash Wallet.
      </div>
    </div>
  </div>

  <!-- Step 2 - Redeem Stamp -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Redeem</span>
      <span class="secondary">{{ symbol }}{{ value }}</span>
    </div>

    <!-- Redeem QR Code -->
    {{ QRCODE wif /bch.svg }}

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 2</div>
      <div class="content">
        Redeem the above BCH by scanning it with your Wallet.
      </div>
    </div>
  </div>

  <!-- Step 3 - Spend BCH -->
  <div class="section">
    <!-- Title -->
    <div class="title-primary">
      <span class="primary">Spend</span>
      <span class="secondary">It!</span>
    </div>

    <!-- Spend QR Code -->
    {{ QRCODE https://maps.bitcoin.com }}

    <!-- Details -->
    <div class="details">
      <div class="title secondary">Step 3</div>
      <div class="content">
        Scan the above QR to find merchants near you to spend BCH!
      </div>
    </div>
  </div>
</div>

<style>
  /* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  body {
    background: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .flyer {
    display: flex;
    width: 210mm;
    background: #000;
    color: #fff;
    border-bottom: 1px dashed #82d853;
  }

  .section {
    width: 33%;
    text-align: center;
    padding: 5mm;
  }

  .primary {
    color: #fff;
  }

  .secondary {
    color: #82d853;
  }

  .title-primary {
    font-size: 32px;
    margin-bottom: 5mm;
    font-family: 'Anton', sans-serif;
  }

  .title-secondary {
    font-size: 24px;
    font-family: 'Anton', sans-serif;
  }

  .qr-code {
    width: 35mm !important;
    height: 35mm !important;
    margin: auto;
    margin-bottom: 5mm;
  }

  .details .title {
    font-size: 24px;
    font-family: 'Anton', sans-serif;
  }

  .details .content {
    font-size: 12px;
  }
</style>
