<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Element</title>
    <style>
      /* Default to A4 height */
      body {
        margin: 0;
        padding: 0;
        background-color: #fff;
      }

      /* Avoid printing a stamp across pages. */
      .stamp-container {
        break-inside: avoid;
      }

      .stamp-container.claimed {
        filter: grayscale(100%);
      }

      @media print {
        body {
          background-color: transparent;
        }
      }
    </style>
    {{ cutlines }}

    <meta
      http-equiv="Content-Security-Policy"
      content="
      default-src &#39;none&#39;;
      img-src &#39;self&#39; data:;
      style-src &#39;unsafe-inline&#39;;
      font-src &#39;none&#39;;
      connect-src &#39;none&#39;;
      media-src &#39;none&#39;;
      object-src &#39;none&#39;;
      frame-src &#39;none&#39;;
      worker-src &#39;none&#39;;
      manifest-src &#39;none&#39;;
      form-action &#39;none&#39;;
      base-uri &#39;none&#39;;
      script-src &#39;none&#39;;
    "
    />
  </head>
  <body class="{{ showingSide }}">
    {{ html }} {{ style }}
    <script>
      const postSizeToParent = () => {
        // Get computed styles to include margins
        const computedStyle = window.getComputedStyle(document.body);

        // Calculate total width including margins
        const width =
          document.body.scrollWidth +
          parseFloat(computedStyle.marginLeft) +
          parseFloat(computedStyle.marginRight);

        // Calculate total height including margins
        const height =
          document.body.scrollHeight +
          parseFloat(computedStyle.marginTop) +
          parseFloat(computedStyle.marginBottom);

        window.parent.postMessage({ width, height }, '*');
      };

      // Post size once everything has finished loading
      window.addEventListener('load', postSizeToParent);

      // Post size when the body is resized
      const resizeObserver = new ResizeObserver(postSizeToParent);
      resizeObserver.observe(document.body);
    </script>
  </body>
</html>
