<div class="stamp">
  <div class="stamp-inner">
    <!-- Redeem QR Code -->
    <img class="qr-code" src="{{ QRCODE wif /bch.svg }}" />

    <!-- Title -->
    <div class="title-primary">

      <div class="currency">
        <span class="primary">{{ value }}</span>
        <span class="secondary">{{ currency }}</span>
      </div>
    </div>

    <!-- Expiry -->
    <div class="title-secondary">
      <div class="content text-muted text-bold">
        Valid until {{ expiry }}
      </div>
    </div>
  </div>
</div>

<style>
:root {
  font-family: Arial, Helvetica, sans-serif; 
}
.page {
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content !important;
}

.stamp {
  --margin-size: 0mm;
  --padding-size: 5mm;
  --border-size: 1px;
  --column-count: 4;

  --stamp-width: calc((210mm / var(--column-count)) - var(--margin-size) - (var(--margin-size) / var(--column-count)));

  margin-top: var(--margin-size);
  margin-left: var(--margin-size);

  break-inside: avoid;
  text-align: center;

  aspect-ratio: 1;
  width: var(--stamp-width) !important;
}

.stamp-inner {
  padding: var(--padding-size);
  border: var(--border-size) dashed #46ba4f;

}

.title-primary {
  font-size: 32px;
  font-weight: bold;
}

.primary {
  color: #46ba4f;
}

.secondary {
  color: #46ba4f;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: #686868;
}

.qr-code {
  width: 35mm !important;
  height: 35mm !important;
  /* margin-bottom: 5mm; */
}
</style>