// Font imports.
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.inner-page {
  min-width: 210mm;
  width: 992px;
  margin: auto;
  padding-bottom: 40px;
}

.strong {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
}

// app global css in SCSS form
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  letter-spacing: normal;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

.square {
  aspect-ratio: 1/1;
}
.paper {
  aspect-ratio: 1/1.414;
}

.relative {
  position: relative;
}

.rounded-sm {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 1.25rem;
}
.rounded-lg {
  border-radius: 2rem;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

//-----------------------------------------------------------------------------
// Component Over-rides
//-----------------------------------------------------------------------------

/* Define the A4 page size */
@page {
  size: A4;
  margin: 20mm;
}

/* Container for the A4 content */
.page {
  max-width: 210mm;
  width: 210mm;
  min-height: 297mm;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: auto;
  page-break-after: always; /* Ensure each .page starts on a new page */
}

/* Optional: Control page breaks within the content */
.page-element {
  page-break-inside: avoid; /* Avoid breaking inside these elements */
  break-inside: avoid;
}
