// Font imports.
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header-outer {
  width: 100%;
}

.header-inner {
  width: 1024px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 40px;
  color: #fff;
}

.header-inner .paragraph {
  width: 40em;
  max-width: 100%;
}

.inner-page {
  width: 1024px;
  max-width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-padding-top {
  padding-top: 10px;
}

.page-padding-bottom {
  padding-bottom: 40px;
}

.strong {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
}

// app global css in SCSS form
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  letter-spacing: normal;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

.square {
  aspect-ratio: 1/1;
}
.paper {
  aspect-ratio: 1/1.414;
}

.relative {
  position: relative;
}

.rounded-sm {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 1.25rem;
}
.rounded-lg {
  border-radius: 2rem;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

// Editor
.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.editor-container > div {
  flex: 1;
}

//-----------------------------------------------------------------------------
// Component Over-rides
//-----------------------------------------------------------------------------

/* No padding on our Tab Panels */
.q-tab-panel {
  padding: 0px;
}
