<div class="flyer cutline" style="position: relative">
  <div class="section-container">
    <!-- Step 1 - Download Wallet -->
    <div class="section">
      <!-- Title -->
      <div class="title-primary">
        <span class="primary">Bitcoin</span><span class="secondary">Cash</span>
      </div>

      <!-- Download Wallet QR Code -->
      {{ @QRCODE https://wallet.bitcoin.com }}

      <!-- Details -->
      <div class="details">
        <div class="title secondary">Step 1</div>
        <div class="content">
          Scan the above QR code to Install a Bitcoin Cash Wallet.
        </div>
      </div>
    </div>

    <!-- Step 2 - Redeem Stamp -->
    <div class="section">
      <!-- Title -->
      <div class="title-primary">
        <span class="primary">Redeem</span>
        <span class="secondary">{{ symbol }}{{ value }}</span>
      </div>

      <!-- Redeem QR Code -->
      {{ @QRCODE wif /bch.svg }}

      <!-- Details -->
      <div class="details">
        <div class="title secondary">Step 2</div>
        <div class="content">
          Redeem the above BCH by scanning the QR with your Wallet.
        </div>
      </div>
    </div>

    <!-- Step 3 - Spend BCH -->
    <div class="section">
      <!-- Title -->
      <div class="title-primary">
        <span class="primary">Spend</span>
        <span class="secondary">It!</span>
      </div>

      <!-- Spend QR Code -->
      {{ @QRCODE https://maps.bitcoin.com }}

      <!-- Details -->
      <div class="details">
        <div class="title secondary">Step 3</div>
        <div class="content">
          Scan the above QR to find merchants near you to spend BCH!
        </div>
      </div>
    </div>
  </div>
  <div class="expiry">Valid until {{ @DATE expiry DD }}</div>
</div>
